

/* tooltip  */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
/*--------
 - Footer -
 --------*/
 .footer1{
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    width: 100%;
    height: 300px;
 }
 .goal{
    font-size: 40px;
    padding-top: 30px;
 }
 .footer-item{
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 30px;
 }
 hr{
    margin-left: 200px;
    margin-right: 200px;
 }
 .social-midea a{
    font-size: 50px;
    padding: 30px;
    color: #dcdde1;
    margin-bottom: 30px;
 }
 .social-midea:hover a{
    cursor: grab;
    color: rgb(23, 135, 210);
 }
